# Facial Recognization via AWS Rekognition

### Group Member
- Group 10
- Annie Luo, Joy Peng, Diane Guan, Helen Hsu, Chloe Hu, Tiantian Meng, Abbey Yuan

## Introduction

Currently, the Covid-19 pandemic has resulted in considerable changes to our way of life compared to the era before the pandemic. While wearing masks became a norm in daily life for individuals, it inconveniences us to read and understand othersâ€™ facial expressions of emotions under the cover of a mask. According to Grenville and Dwyer, without wearing masks, confidence was significantly greater, with the impact evident for all emotions except anger. It demonstrates that emotion recognition is altered by face masks, but that the effectiveness varies depending on the expressed mood.


This project seeks to identify the flaw in the Rekognition algorithm and determine the effect of wearing masks and glasses in determining the facial expression of emotions(positive vs negative) of individuals. Based on previously mentioned research, we hypothesize that while wearing both masks and glasses would yield the lowest confidence statistics, wearing neither of them would yield the highest confidence results. In comparing wearing a mask and weaning glasses, wearing a mask should present a lower confidence statistic.

[Reference](https://cognitiveresearchjournal.springeropen.com/articles/10.1186/s41235-022-00366-w#:~:text=The%20most%20general%20observation%20from,by%20wearing%20a%20face%20mask..)

## Objectives

We hypothesized that wearing glasses and/or masks would impair the effectiveness of AWS Rekognition on recognizing human faces. More specifically, we believe that wearing masks would make it much more difficult for the machine to detect whether one is smiling, and wearing masks and/or glasses would affect Rekognition's ability to predict the emotions of the faces.

So we did a controlled experiment using photos of our group members, where everything is the same within each set of photos except wearing masks and/ or glasses or not.

## Data Collection 
All data used has been uploaded to a public S3 bucket on AWS named "qtm350-final-project." If there are any access issues, we have also uploaded our photo data under "Photos" folder on this github page. 

We took 4 photos of each of our group members. One with glasses, one with mask, one with both glasses and mask, and one with neither.

1. no mask, no glasses 
2. no mask, with glasses 
3. with mask, no glasses 
4. with mask, with glasses

This dataset allowed us to do a controlled experiment on performance of Rekognition algorithm with and without factors of wearing masks and wearing glasses. Since we have 7 group members, we took a total of 7 x 4 = 28 pictures. So our dataset have 28 observations for our input data. 

Note: we have included our code that created an S3 bucket and moved photos to this bucket.

## Analysis

In [ ]:
# Initialize Dependencies
import boto3
import json
import numpy as np
import pandas as pd

In [ ]:
#created a bucket
!aws s3 mb s3://qtm350-final-project

In [ ]:
#check current S3 buckets to see if the above bucket has been successfully created
!aws s3 ls

In [ ]:
#move photos to our newly created bucket
!aws s3 mv Photos//guan1.JPG s3://qtm350-final-project
!aws s3 mv Photos//guan2.JPG s3://qtm350-final-project
!aws s3 mv Photos//guan3.JPG s3://qtm350-final-project
!aws s3 mv Photos//guan4.JPG s3://qtm350-final-project
!aws s3 mv Photos//luo1.jpeg s3://qtm350-final-project
!aws s3 mv Photos//luo2.jpeg s3://qtm350-final-project
!aws s3 mv Photos//luo3.jpeg s3://qtm350-final-project
!aws s3 mv Photos//luo4.jpeg s3://qtm350-final-project
!aws s3 mv Photos//meng1.jpg s3://qtm350-final-project
!aws s3 mv Photos//meng2.jpg s3://qtm350-final-project
!aws s3 mv Photos//meng3.jpg s3://qtm350-final-project
!aws s3 mv Photos//meng4.jpg s3://qtm350-final-project
!aws s3 mv Photos//peng1.jpeg s3://qtm350-final-project
!aws s3 mv Photos//peng2.jpeg s3://qtm350-final-project
!aws s3 mv Photos//peng3.jpeg s3://qtm350-final-project
!aws s3 mv Photos//peng4.jpeg s3://qtm350-final-project
!aws s3 mv Photos//yuan1.JPG s3://qtm350-final-project
!aws s3 mv Photos//yuan2.JPG s3://qtm350-final-project
!aws s3 mv Photos//yuan3.JPG s3://qtm350-final-project
!aws s3 mv Photos//yuan4.JPG s3://qtm350-final-project
!aws s3 mv Photos//hsu1.jpeg s3://qtm350-final-project
!aws s3 mv Photos//hsu2.jpeg s3://qtm350-final-project
!aws s3 mv Photos//hsu3.jpeg s3://qtm350-final-project
!aws s3 mv Photos//hsu4.jpeg s3://qtm350-final-project

In [ ]:
# Initialize clients
client = boto3.client('rekognition')
#Make a datafram by first creating a list of the photos
s3_resource = boto3.resource('s3')
my_bucket = s3_resource.Bucket('qtm350-final-project')
summaries = my_bucket.objects.all()
image_names = [image.key for image  in summaries]

In [ ]:
#Reviewing what data we have in our s3 bucket
!aws s3 ls qtm350-final-project

2022-11-24 20:51:42    3389327 guan1.jpeg
2022-11-24 20:51:43    3748740 guan2.jpeg
2022-11-24 20:51:44    4531495 guan3.jpeg
2022-11-24 20:51:43    4411550 guan4.jpeg
2022-11-24 21:25:44    2099947 hsu1.jpeg
2022-11-24 21:25:45    2082578 hsu2.jpeg
2022-11-24 21:25:45    2094801 hsu3.jpeg
2022-11-24 21:25:47    2142550 hsu4.jpeg
2022-11-24 21:25:46     193429 luo1.jpeg
2022-11-24 21:25:46     198693 luo2.jpeg
2022-11-24 21:25:44     213083 luo3.jpeg
2022-11-24 21:25:47     189164 luo4.jpeg
2022-11-24 21:25:47     508724 meng1.jpg
2022-11-24 21:25:48     479926 meng2.jpg
2022-11-24 21:25:48     465316 meng3.jpg
2022-11-24 21:25:48     464254 meng4.jpg
2022-11-24 21:25:49    1843220 peng1.jpeg
2022-11-24 21:25:49    1770896 peng2.jpeg
2022-11-24 21:25:50    2031102 peng3.jpeg
2022-11-24 21:25:50    1947570 peng4.jpeg
2022-11-24 21:25:51     370230 yuan1.jpeg
2022-11-24 21:25:51     435862 yuan2.jpeg
2022-11-24 21:25:52     470192 yuan3.jpeg
2022-11-24 21:25:52     422453 yuan4.jpeg

Define a python function that return the smile value of a given photo, that is, whether Rekognition thinks the face in the photo is smiling.

In [ ]:
def smile_analysis(photo):

    response = client.detect_faces(Image={'S3Object':{'Bucket':'qtm350-final-project','Name':photo}},Attributes=['ALL'])
 
    for faceDetail in response['FaceDetails']:
        return faceDetail['Smile']['Value']

Define a python function that return the Eyeglasses value of a given photo, that is, whether Rekognition thinks the face in the photo is wearing glasses.

In [ ]:
def eyeglasses_analysis(photo):
    
    response = client.detect_faces(Image={'S3Object':{'Bucket':'qtm350-final-project','Name':photo}},Attributes=['ALL'])
        
    for faceDetail in response['FaceDetails']:
        return faceDetail['Eyeglasses']['Value']

Define a python function that return the Emotions type of a given photo, that is, what emotion Rekognition thinks the face in the photo is showing.

In [ ]:
def emotion_analysis(photo):
    
    response = client.detect_faces(Image={'S3Object':{'Bucket':'qtm350-final-project','Name':photo}},Attributes=['ALL'])
        
    for faceDetail in response['FaceDetails']:
        return faceDetail['Emotions'][0]['Type']

Create a dataframe called df_facial_analysis that demonstrate the Smile value, Eyeglasses value, and Emotions type of each photo.

In [ ]:
df_facial_analysis = pd.DataFrame({'Name':image_names})
df_facial_analysis['Smile'] = [smile_analysis(photo) for photo in df_facial_analysis['Name']]
df_facial_analysis['Glasses'] = [eyeglasses_analysis(photo) for photo in df_facial_analysis['Name']]
df_facial_analysis['Emotion'] = [emotion_analysis(photo) for photo in df_facial_analysis['Name']]
df_facial_analysis

          Name  Smile  Glasses   Emotion
0   guan1.jpeg  False    False      CALM
1   guan2.jpeg  False     True      CALM
2   guan3.jpeg  False     True      FEAR
3   guan4.jpeg  False     True      FEAR
4    hsu1.jpeg  False    False      CALM
5    hsu2.jpeg  False     True      CALM
6    hsu3.jpeg  False     True      FEAR
7    hsu4.jpeg  False     True       SAD
8    luo1.jpeg  False    False      CALM
9    luo2.jpeg  False     True      CALM
10   luo3.jpeg  False     True      FEAR
11   luo4.jpeg  False     True      FEAR
12   meng1.jpg  False    False      CALM
13   meng2.jpg  False     True      CALM
14   meng3.jpg  False    False      CALM
15   meng4.jpg  False     True       SAD
16  peng1.jpeg   True    False     HAPPY
17  peng2.jpeg  False     True  CONFUSED
18  peng3.jpeg  False    False      FEAR
19  peng4.jpeg  False     True      FEAR
20  yuan1.jpeg  False    False      CALM
21  yuan2.jpeg  False     True      CALM
22  yuan3.jpeg  False     True      FEAR
23  yuan4.jpeg  False     True      FEAR

Define a python function that return the Similarity value of a given photo, that is, whether Rekognition thinks the face in the photo is smiling.

In [ ]:
 def extract_similarity(sourcephoto, targetphoto):
    try:
        comparison = client.compare_faces(
            SourceImage= {'S3Object':{'Bucket':'qtm350-final-project', 'Name':sourcephoto}},
            TargetImage = {'S3Object':{'Bucket':'qtm350-final-project','Name':targetphoto}})
        similarity = comparison['FaceMatches'][0]['Similarity']
    except Exception:
        similarity = np.nan
    return similarity

Create a dataframe called df_similarity that demonstrate the similarities between

In [ ]:
df_similarity = pd.DataFrame({'Name':image_names})
df_similarity['Similarity-guan'] = [extract_similarity('guan1.JPG', photo) for photo in df_similarity['Name']]
df_similarity['Similarity-hsu'] = [extract_similarity('hsu1.jpeg', photo) for photo in df_similarity['Name']]
df_similarity['Similarity-luo'] = [extract_similarity('luo1.jpeg', photo) for photo in df_similarity['Name']]
df_similarity['Similarity-meng'] = [extract_similarity('meng1.jpg', photo) for photo in df_similarity['Name']]
df_similarity['Similarity-peng'] = [extract_similarity('peng1.jpeg', photo) for photo in df_similarity['Name']]
df_similarity['Similarity-yuan'] = [extract_similarity('yuan1.JPG', photo) for photo in df_similarity['Name']]
df_similarity

,Name,Similarity-guan,Similarity-hsu,Similarity-luo,Similarity-meng,Similarity-peng,Similarity-yuan
0,guan1.jpeg,100.000000,NaN,NaN,NaN,NaN,NaN
1,guan2.jpeg,99.999062,NaN,NaN,NaN,NaN,NaN
2,guan3.jpeg,99.693840,NaN,NaN,NaN,NaN,NaN
3,guan4.jpeg,92.780724,NaN,NaN,NaN,NaN,NaN
4,hsu1.jpeg,NaN,100.000000,NaN,NaN,NaN,NaN
5,hsu2.jpeg,NaN,99.999649,NaN,NaN,NaN,NaN
6,hsu3.jpeg,NaN,99.970329,NaN,NaN,NaN,NaN
7,hsu4.jpeg,NaN,99.691322,NaN,NaN,NaN,NaN
8,luo1.jpeg,NaN,NaN,100.000000,NaN,NaN,NaN
9,luo2.jpeg,NaN,NaN,99.999672,NaN,NaN,NaN
10,luo3.jpeg,NaN,NaN,99.741180,NaN,NaN,NaN
11,luo4.jpeg,NaN,NaN,99.481415,NaN,NaN,NaN
12,meng1.jpg,NaN,NaN,NaN,100.000000,NaN,NaN
13,meng2.jpg,NaN,NaN,NaN,99.999825,NaN,NaN
14,meng3.jpg,NaN,NaN,NaN,99.960548,NaN,NaN
15,meng4.jpg,NaN,NaN,NaN,99.802261,NaN,NaN
16,peng1.jpeg,NaN,NaN,NaN,NaN,100.000000,NaN
17,peng2.jpeg,NaN,NaN,NaN,NaN,99.999855,NaN
18,peng3.jpeg,NaN,NaN,NaN,NaN,99.873413,NaN
19,peng4.jpeg,NaN,NaN,NaN,NaN,98.814133,NaN
20,yuan1.jpeg,NaN,NaN,NaN,NaN,NaN,100.000000
21,yuan2.jpeg,NaN,NaN,NaN,NaN,NaN,99.999908
22,yuan3.jpeg,NaN,NaN,NaN,NaN,NaN,99.967865
23,yuan4.jpeg,NaN,NaN,NaN,NaN,NaN,99.810638